* {
    padding: 0px;
    margin: 0px;
}

.img01 {
    background-image: url('../../assets/image/banner-01.jpg');
    height: 700px;
    background-repeat: no-repeat;
}

.img02 {
    background-image: url('../../assets/image/banner-02.jpg');
    height: 700px;
    background-repeat: no-repeat;
}

.img03 {
    background-image: url('../../assets/image/banner-03.jpg');
    height: 700px;
    background-repeat: no-repeat;
}

.header-text {
    position: relative;
    top: 150px;
    left: 300px;
}

.hh {
    background-image: url('../../assets/image/video-bg.jpg');
    height: 600px;
    width: 1445px;
    background-repeat: no-repeat;
}

.video-frame {
    position: relative;
    margin-top: -240px;
}

.video-frame img {
    border: 1px solid black;
    border: none;
    border-radius: 20px;
}

.video-content .video-frame a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26px, -26px);
    width: 52px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 52px;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 18px;
}

.boxs {
    padding-inline-start: 150px;
    position: relative;
}

.box {
    border: 1px solid black;
    border: none;
    border-radius: 10px;
}

.col-lg-4 {
    position: relative;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(243, 85, 37);
    border-radius: 50%;
    top: -25px;
    left: 220px;
}

.nav-link {
    border: 1px solid black;
    border: none;
    border-radius: 10px;
    margin-inline: 10px;
}

.info-table {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 15px;
    border-radius: 10px;
}

.best-deal {
    background-color: #fafafa;
}

.icon a {
    border: 1px solid black;
    border: none;
    border-radius: 50px;
    padding-inline-end: 30px;
    padding-block: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
}

.icon a i {
    position: relative;
    left: 0px;
    top: 0px;
}

.room ul li {
    display: inline-block;
    ;
}

.main-button a {
    color: white;
    background-color: black;
}

.main-button a:hover {
    color: white;
    background-color: #f35525;
}

.contact {
    background-image: url('../../assets/image/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1445px;
    position: relative;
}

.contactform form input {
    width: 100%;
    height: 44px;
    border-radius: 25px;
    background-color: rgb(246, 246, 246);
    border: none;
    margin-block: 20px;
    font-size: 14px;
    padding: 15px;
}

.contactform form textarea {
    width: 100%;
    height: 150px;
    border-radius: 25px;
    background-color: rgb(246, 246, 246);
    border: none;
    margin-block: 20px;
    font-size: 14px;
    padding: 15px;
}

.contactform form {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
    background-color: #fff;
}

.contactform {
    margin-top: -240px;
    position: relative;
}

.item {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
    background-color: #fff;
}

.page-heading{
    background-image: url('../../assets/image/page-heading-bg.jpg');
    background-repeat: no-repeat;
}